<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<header>

    <nav class="navigation">
      <div class="logo"> 
        <img src="assets/svg/logo-pymes.svg" height="40px">
      </div>
      
      <div class="toggle__menu" id="toggle-menu">
        <i class="bx bx-grid-alt"></i>
      </div>
      <ul class="nav__list nav_menu" id="nav-menu">
        <div class="close__menu" id="close-menu">
          <i class="bx bx-x"></i>
        </div>
        <li class="nav__item">
          <a href="#" class="nav__link">Ventas</a>
        </li>

        <li class="nav__item"><a href="#" class="nav__link">Compras</a></li>

        <li class="nav__item"><a class="nav__link">Almacenes</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Libro Diario</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Facturacion</a></li>

        <li class="nav__item"><a routerLink="/select_register" class="nav__link register__link">Regístrate</a></li>
        <li class="nav__item"><a href="#" class="nav__link login__link">Iniciar Sesión</a></li>

        <!--Cuando admin esta loggeado aparecen estos botones-->
        <li class="nav__item" hidden><a href="#" class="nav__link">Registrar Empleado</a></li>
        <li class="nav__item" hidden><a href="#" class="nav__link">Cerrar Sesion</a></li>
      </ul>
    </nav>

  
</header>