<div class="" style="position: relative;">
  <div class="container-all">
    <div class="">
      <app-side-menu-shopping></app-side-menu-shopping>
    </div>
    <div class="list" style="position: relative;">
    <div class="container">
    <mat-card style="margin-top: 20px;">
        <form>
            <mat-grid-list cols="8" rowHeight="60px">             
                <mat-grid-tile [colspan]="8" [rowspan]="1">
                   <p>Productos  manufacturados</p>
                </mat-grid-tile>               
                <mat-grid-tile [colspan]="6" [rowspan]="1">
                  <mat-form-field appearance="standard" class="search">
                    <mat-label>Buscar Producto</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="buscar" #input autocomplete="off">
                  </mat-form-field>                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <button class="btn"mat-raised-button>
                    <svg class="pointer" matTooltip="buscar" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <circle cx="10" cy="10" r="7" />
                      <line x1="21" y1="21" x2="15" y2="15" />
                    </svg>
                  </button>                 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button style="background-color:#0A457F;" class="pointer" matTooltip="Añadir nuevo producto" mat-raised-button>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <line x1="9" y1="12" x2="15" y2="12" />
                            <line x1="12" y1="9" x2="12" y2="15" />
                        </svg>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="8" [rowspan]="8" >
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <!-- Fecha Column -->
                        <ng-container matColumnDef="ref_produccion">
                            <th mat-header-cell *matHeaderCellDef> Ref. Produccion </th>
                            <td mat-cell *matCellDef="let element"> {{element.ref_produccion}} </td>
                          </ng-container>
                        <!-- Cantidad Column -->
                        <ng-container matColumnDef="fecha_produccion">
                          <th mat-header-cell *matHeaderCellDef> Fecha Producción </th>
                          <td mat-cell *matCellDef="let element"> {{element.fecha_produccion}} </td>
                        </ng-container>
                        <!-- Producto Column -->
                        <ng-container matColumnDef="productoNombre">
                          <th mat-header-cell *matHeaderCellDef> Producto </th>
                          <td mat-cell *matCellDef="let element"> {{element.productoNombre}} </td>
                        </ng-container>            
                        <ng-container matColumnDef="cantidad">
                          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                          <td mat-cell *matCellDef="let element"> {{element.manufacturas.cantidad}} </td>
                        </ng-container>            
                        <!-- Acciones Column -->
                       
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table> 
                </mat-grid-tile>   
                <mat-grid-tile [colspan]="6" [rowspan]="1">
                  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons class="">
                  </mat-paginator>
                </mat-grid-tile>   
            </mat-grid-list>   
                
        </form>     
    </mat-card>
  </div>
    </div>
  </div>
</div>






  