<div class="container-side"> 
    <div class="container"> 
        <div> 
            <p class="header-section"> PROVEEDOR </p> 
            <p class="link-c" [routerLink]="['/supplier']"> Nuevo proveedor</p> 
            <p class="link-c" [routerLink]="['/suppliers']"> Lista de proveedores</p> 
        </div> 
        <hr/>
        <div> 
            <p class="header-section"> PRODUCTOS MANUFACTURADOS</p> 
            <p class="link-c" [routerLink]="['/manufacture']"> Insertar produccion de manufactura</p> 
            <p class="link-c" [routerLink]="['/manufacturing']"> Listado de manufactura</p> 
        </div> 
        <div class="line"></div> 
        <div> 
            <p class="header-section"> PRESUPUESTOS</p> 
            <p class="link-c" [routerLink]="['/budgets']"> Lista de presupuestos</p> 
        </div> 
        <div class="line"></div> 
        <div> 
            <p class="header-section"> PEDIDOS</p> 
            <p class="link-c"  [routerLink]="['/pedido']"> Nuevo pedido</p> 
            <p class="link-c"  [routerLink]="['/pedidos']"> Listado</p> 
        </div> 
        <div class="line"></div> 
        <div> 
            <!--<p class="header-section"> PEDIDOS A PROVEEDOR</p> 
            <p class="link-c"> Crear pedido de compra</p> 
           <p class="link-c"> Listado</p> 
             <div class="list-supplier"> 
                <p class="link-c">Borrador</p> 
                <p class="link-c">Validado</p> 
                <p class="link-c">Aprobado</p> 
                <p class="link-c">Pedido</p> 
                <p class="link-c">Recibido parcialmente</p> 
                <p class="link-c">Recibidos</p> 
                <p class="link-c">Anulados</p> 
                <p class="link-c">Rechazado</p> 
            </div> -->
        </div> 
    </div> 
</div>