<div class="container">
    <div class="cont-header">
        <h1>Administración de proveedores</h1>
        <div class="line"></div>
    </div>
    <div class="container ">
        <a class="link-list" [routerLink]="['/suppliers']">VOLVER A LISTADO</a>
        <h2 class="info-h">PROVEEDOR</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="text-input" for="Nombre">Nombre: </label>
                    <p>{{model.nombre}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="text-input" for="Nombre">Teléfono: </label>
                    <p>{{model.telefono}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="text-input" for="Nombre">Email: </label>
                    <p>{{model.email}}</p>
                </div>
            </div>
        </div>
        <div>
            <div class="table-products">
                <label class="text-input" for="Nombre">Productos asociados</label>
                <div *ngIf="products.length == 0">
                    <p>No existen presupuestos asociados</p>
                </div>
                <table *ngIf="products.length != 0" class="table align-middle mb-0 bg-white table-hover">
                        <thead class="bg-light table-light">
                            <tr class="text-th">
                                <th>Producto</th>
                                <th class="td-tx">Codigo</th>
                                <th class="td-tx">Precio Unitario</th>
                                <th class="td-tx">IVA</th>
                                <th class="td-tx">Almacen</th>
                                <th class="td-tx">Categoria</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let card of products">   
                            <tr>
                                <td>
                                    <p class="fw-normal mb-1">{{card.name}}</p>
                                </td>
                                <td class="td-tx">
                                    <p>{{card.barcode}}</p>
                                </td>
                                <td class="td-tx">
                                    <p>{{card.  price}}</p>
                                </td>
                                <td class="td-tx">
                                    <p>{{card.iva}}</p>
                                </td>
                                <td class="td-tx">
                                    <p>{{card.brand}}</p>
                                </td>
                                <td class="td-tx">
                                    <p>{{card.category}}</p>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
            
            <label class="text-input" for="Nombre">Presupuestos asociados </label>

            <div *ngIf="budgets.length == 0">
                <p>No existen presupuestos asociados</p>
            </div>
            <table *ngIf="budgets.length != 0" class="table align-middle mb-0 bg-white table-hover">
                    <thead class="bg-light table-light">
                        <tr class="text-th">
                            <th>Ref. Presupuesto</th>
                            <th class="td-tx">Base imponible</th>
                            <th class="td-tx">Descuentos</th>
                            <th class="td-tx">Fecha de inicio</th>
                            <th class="td-tx">Presupuesto actual</th>
                            <th class="td-tx">Estado</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let card of budgets">
                        <tr>
                            <td>
                                <p class="fw-normal mb-1">{{card[6]}}</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{card[1]}} Bs.</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{card[2]}} %<p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{card[4]}}<p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{card[5]}}<p>
                            </td>
                            <td>
                                <p *ngIf="card[8] == 0" class="fw-normal mb-1">Borrado<p>
                                <p *ngIf="card[8] == 1" class="fw-normal mb-1">Abierto<p>
                                <p *ngIf="card[8] == 2" class="fw-normal mb-1">Cerrado<p>
                            </td>
                        </tr>
                    </tbody>
            </table>

            <div class="content-btn">
                <button class="btn"  [routerLink]="['/budget/', model.id]">Crear presupuesto</button>
            </div>
        </div>
    </div>
</div>