
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
    type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

  <div class="testbox container cont-all">
    <form >
        <br/>
     <div class="line"></div>
     <h1><b  class="text-input">Tus Pedidos</b></h1>
     <div class="line"></div>

<ng-container>
    <div class="container cont-table">
        <div class="cart-table">
            <div class="cart-product">
                <table class="table align-middle bg-white table-hover">
                    <thead class="bg-light table-light">
                        <tr class="text-th">
                            <th class="td-tx">Fecha del Pedido</th>
                            <th class="td-tx">Cantidad de Productos</th>
                            <th class="td-tx">Total</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let item of ventasFinal; let i = index">
                            <td style="width: 50%;">{{item.fechaCreacion}}</td>
                            <td style="width: 50%;">{{item.cantidadTotal}}</td>
                            <td style="width: 50%;">{{item.total}}</td>
                            <td class="td-delete">
                                <button (click)="showOrder(item.idVenta)" class="btn btn-b">Ver</button>
                            </td>
                        </tr>
                    </tbody>
                    
                    
                </table>

                <div class="cont-total">
                    <p style="font-size: 18px; font-weight: bold; padding: 10px;">Total: </p>
                    <p style="margin-left: 15px; padding: 10px; background-color: #b4daff;"> ${{grandTotal}}</p>
                </div>
                <div class="cont-btn">
                    <button class="btn btn-b" routerLink="/products">Ver Productos</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>