<div class="container cont-all">
    <div class="cont-header">
        <p class="header-1">PEDIDO A PROVEEDOR</p>
    </div>
    <a class="link-list" [routerLink]="['/pedidos']">VOLVER A LISTADO</a>

    <div class="content">
        <div class="text-inline">
            <p style="margin-right: 10px" class="text-c">PROVEEDOR: </p> 
            <p>{{supplier.nombre}}</p>
        </div>
        <div class="line"></div>
        <div class="row">
            <div class="col-md-6 cont-b">
                <div class="cont">
                    <!--
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">AUTOR/SOLICITANTE:</p>
                        <p>Ejemplo</p>
                    </div>
                    
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">Descuentos:</p>
                        <p>Ejemplo</p>
                    </div>
                    -->
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">CONDICIONES DE PAGO:</p>
                        <mat-form-field appearance="fill" [(ngModel)]="model.condicionesPago">
                            <mat-label>Condiciones de pago</mat-label>
                            <mat-select>
                              <mat-option [value]="1">
                                30 dias
                              </mat-option>
                              <mat-option [value]="2">
                                Trimestre
                              </mat-option>
                              <mat-option [value]="3">
                                Semestral
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                       <!-- <input class="form-control" type="text" id="condicionesPago" name="condicionesPago" [(ngModel)]="model.condicionesPago" [ngModelOptions]="{standalone: true}">-->
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">TIPO DE PAGO:</p>
                        <mat-form-field appearance="fill" [(ngModel)]="model.tipoPago">
                            <mat-label>Tipo de pago</mat-label>
                            <mat-select>
                              <mat-option [value]="1">
                                Efectivo
                              </mat-option>
                              <mat-option [value]="2">
                                Queque
                              </mat-option>
                              <mat-option [value]="3">
                                Transferencia
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        <!--<input  class="form-control" type="text" id="condicionesPago" name="condicionesPago" [(ngModel)]="model.tipoPago" [ngModelOptions]="{standalone: true}">-->
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">DIVISA:</p>
                        <mat-form-field appearance="fill" [(ngModel)]="model.divisa">
                            <mat-label>Divisa</mat-label>
                            <mat-select>
                              <mat-option [value]="1">
                                Bolivianos
                              </mat-option>
                              <mat-option [value]="2">
                                Euros
                              </mat-option>
                              <mat-option [value]="3">
                                Dolares
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        <!--<input class="form-control" type="text" id="condicionesPago" name="condicionesPago" [(ngModel)]="model.divisa" [ngModelOptions]="{standalone: true}">-->
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">FECHA DE ENTREGA:</p>
                        <div class="input-wrapper">
                            <input type="date" class="form-control input-register" id="direccion"
                                placeholder="Dirección" [(ngModel)]="model.fechaEntrega" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <!--
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">TIEMPO DE ENTREGA EN DIAS:</p>
                        <p>Ejemplo</p>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">PRODUCTOS:</p>
                        <p>Ejemplo</p>
                    </div>
                    -->
                </div>
            </div>
            <div class="col-md-6 cont-b">
                <div class="cont">
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">BASE IMPONIBLE DEl PRESUPUESTO:</p>
                        <P>{{budget.baseImponible}}</P>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">PRESUPUESTO ACTUAL:</p>
                        <p>{{budget.presupuestoActual}}</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="cont">
                    <div class="text-inline border">
                        <p style="margin-left: 10px" class="tx">Añadir Producto</p>
                        <div  style="display: flex; " >
                            <p class="p-m">Cantidad</p>
                            <p class="p-m">Descuento</p>
                            <p class="p-m">Precio Unitario</p>   
                        </div>
                    </div>                    
                </div>
            </div>

            <div>
                <div class="cont">
                    <div class="text-inline border">
                        <form class="example-form">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Assignee</mat-label>
                                <input class="combobox" type="text" matInput [formControl]="myControl"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>
                        <div style="display: flex;" >
                            <input type="text" class="form-control" id="cantidad" placeholder="Cantidad"  [(ngModel)]="detallePedido.cantidad" [ngModelOptions]="{standalone: true}">
                            <input type="text" class="form-control" id="descuento" placeholder="Descuento"  [(ngModel)]="detallePedido.descuento" [ngModelOptions]="{standalone: true}">
                            <input type="text" class="form-control" id="precioUnitario" placeholder="Precio"  [(ngModel)]="detallePedido.precio_unitario" [ngModelOptions]="{standalone: true}">
                            <button mat-raised-button style="background-color: #4c8eb7; margin-left: 5px;" (click)="guardar()">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <line x1="12" y1="5" x2="12" y2="19" />
                                    <line x1="5" y1="12" x2="19" y2="12" />
                                </svg>
                            </button>                                
                        </div>                      
                    </div>                    
                </div>
            </div>
            <div style="margin-top: 10px ;">
                <table *ngIf="detallePedidos.length != 0" class="table align-middle mb-0 bg-white table-hover">
                  <thead class="bg-light table-light">
                      <tr class="text-th">
                          <th>Producto</th>
                          <th class="td-tx">Cantidad</th>
                          <th class="td-tx">Descuetno</th>
                          <th class="td-tx">Precio Unitario</th>
                      </tr>
                  </thead>
                  <tbody *ngFor="let detallePedido of detallePedidos">   
                      <tr >
                          <td>{{detallePedido.nombre}}</td>
                          <td>{{detallePedido.cantidad}}</td>
                          <td>{{detallePedido.descuento}}</td>
                          <td>{{detallePedido.precio_unitario}}</td>
                      </tr>
                  </tbody>
          </table>
          </div>
           
        </div>
        <div>
        </div>
        <div class="row">
            <button type="button" (click)="postPedidoDetallePedidos()" class="btn btn-add">Registrar</button>
        </div>
    </div>
</div>