<div class="container cont-all">
    <div class="cont-header">
        <p class="header-1">PEDIDO A PROVEEDOR</p>
        <p class="header-2">RECEPCION DE PRODUCTOS</p>
    </div>
    <div class="content">
        <p class="text-c">REF. PROVEEDOR</p>
        <div class="text-inline">
            <p style="margin-right: 10px" class="text-c">PROVEEDOR: </p> 
            <p>Nombre de proveedor </p>
        </div>
        <div class="line"></div>
        <div class="row">
            <div class="col-md-6 cont-b">
                <div class="cont">
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">AUTOR/SOLICITANTE:</p>
                        <p>Ejemplo</p>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">Descuentos:</p>
                        <p>Ejemplo</p>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">CONDICIONES DE PAGO:</p>
                        <p>Ejemplo</p>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">TIPO DE PAGO:</p>
                        <p>Ejemplo</p>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">DIVISA:</p>
                        <p>Ejemplo</p>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">FECHA DE ENTREGA:</p>
                        <p>Ejemplo</p>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">TIEMPO DE ENTREGA EN DIAS:</p>
                        <p>Ejemplo</p>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">PRODUCTOS:</p>
                        <p>Ejemplo</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 cont-b">
                <div class="cont">
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">BASE IMPONIBLE:</p>
                        <p>Ejemplo</p>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">IMPORTE TOTAL:</p>
                        <p>Ejemplo</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>