<h2 mat-dialog-title> Elegir Tipo</h2>
<mat-dialog-content>
    <p>Elegir Tipo</p>
    <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <select matNativeControl required>
          <option value="haber">HABER</option>
          <option value="debe">DEBE</option> 
        </select>
    </mat-form-field>
    <br>
    <mat-form-field class="width" color="" appearance="fill">
        <mat-label>Monto</mat-label>
        <input matInput autocomplete="off"  >
    </mat-form-field>
    <br>
    <mat-form-field class="width" color="" appearance="fill">
        <mat-label>Cuenta</mat-label>
        <input matInput autocomplete="off"  >
    </mat-form-field>  
</mat-dialog-content>
<br>
<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="true" style="color: #02890F;">Aceptar</button>
    <button mat-button mat-dialog-close mat-dialog-close="false" style="color: #E71205;">Cancelar</button>

</mat-dialog-actions>