<div class="container">
    <div class="row justify-content-md-center">
        

        <div class="col col-lg">
            <h2 >Carro de compras</h2>
            <table class="table " >
                <thead>
                    <tr>
                        <th scope="col">
                            Producto
                        </th>
                        <th scope="col">
                            Precio
                        </th>
                        <th scope="col">
                            Cantidad
                        
                        </th >
                        <th scope="col">
                            Subtotal

                        </th>
                        <th>
                            {{titulo}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
            

        </div>
        <div style="background-color: #E5E5E5 ;" class="col-lg-3">
            <h4>Resumen</h4>
            <div class="col-lg-20">
                <strong>CI:</strong> <strong> 5436423 </strong>
                <br>
                <strong>Cliente:</strong> <strong> JUAN PEREZ </strong>
            </div>
        
			
            <br>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Total Productos</th>
                            <th>3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="accordion">
               
                            <table class="table table-bordered table table-info"  >
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cant.</th>
                                        <th>Subt.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Carne 1kg</th>
                                        <th>30 BS</th>
                                        <th>x2</th>
                                        <th>60 BS</th>
                                    </tr>
                                    <tr>
                                        <th>Coca-cola</th>
                                        <th>10 BS</th>
                                        <th>x5</th>
                                        <th>50 BS</th>
                                    </tr>
                                </tbody>
                            </table>
                        </tr>     
                    </tbody>
                    <tfoot  class ="table table-info">
                        <tr>
                            <p><b>Total :</b> 110bs</p>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div  >
                <button type="button" class="btn btn-info btn-lg " style="width:100%"><strong class="text-white">Vender</strong></button>
            </div>
        </div>
</div>