<div class="container">
    <div class="row justify-content-md-center">
        

        <div class="col col-lg">
            <h2 >Carro de compras</h2>
            <table class="table " >
                <thead>
                    <tr>
                        <th scope="col">
                            Producto
                        </th>
                        <th scope="col">
                            Precio
                        </th>
                        <th scope="col">
                            Cantidad
                        
                        </th >
                        <th scope="col">
                            Subtotal

                        </th>
                        <th>
                            {{titulo}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
            

        </div>
        <div style="background-color: #d7d7d7 ;" class="col-lg-3">
          <h4>Resumen</h4>
          <p>CI: 389832</p>
          <p>Cliente: Juan Perez</p>
          <br>

        </div>
      </div>

</div>
