<div class="principal">
    <div class="row justify-content-md-center">
        

        <div id="list-products" class="col col-lg">
            <h2 >Carro de compras</h2>
            <table class="table " >
                <thead>
                    <tr>
                        <th scope="col">
                            Producto
                        </th>
                        <th scope="col">
                            Precio
                        </th>
                        <th scope="col">
                            Cantidad
                        
                        </th >
                        <th scope="col">
                            Subtotal
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>
                            <div>
                                <h4><b> {{item.producto}}</b></h4>
                            </div>
                            <p>{{item.descripcion}}</p>
                        </td>
                        <td>
                            {{item.precio}}
                        </td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.cantidad * item.precio}}</td>
                        <td>
                            <button id="button-option-sale" (click)="deleteOneProductList(item.idProducto)" class="bi bi-x-circle"></button> <br>
                            <button id="button-option-sale" class="bi bi-pencil-square"></button>
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot>

                </tfoot>
            </table>
            
            <div class="container"  >
                <div class="row " id="options-buttons">
                    <div class="col col-lg-2">
                        <button id="button-option-list-sale">Seguir comprando</button>

                    </div>
                    <div class="col-md-auto">
                        <button  id="button-option-list-sale-update">Actualizar el carrito</button>

                    </div>
                    <div class="col">
                        <button id="button-option-list-sale-delete">Borrar el carro de compra</button>

                    </div>
                </div>
                
            </div>
            

        </div>
        <div style="background-color: rgb(245,248,251) ;" class="col-lg-3">
            <h3>Resumen</h3>
            <div class="col-lg-20">
                <form action="">
                    <div id="form-ci">
                        <strong><label class="text-input" for="txtCi">CI: </label></strong>
                        <input class="form-control" type="text" id="txtCi" value="4827328">
                    </div>
                    <div id="form-name">
                        <strong><label class="text-input" for="txtFullName">Cliente: </label></strong>
                        <input class="form-control" type="text" id="txtFullName" value="Juan Perez">
                    </div>
                </form>
            </div>
            <div id="icon-add">
                <button data-target="#modalRegister" data-toggle="modal" id="btn-addClient" class="bi bi-person-plus"></button>
            </div>
            <div id="modalRegister" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="padding: 10px;">
                        <form action="">
                            <div class="form-group">
                                <label class="text-input" for="Nombre">Nombre</label>
                                <input type="text" class="form-control input-register" id="Nombre" placeholder="Nombre">
                                <label class="text-input" for="Apellido">Apellido</label>
                                <input type="text" class="form-control input-register" id="Apellido" placeholder="Apellido">
                                <label class="text-input" for="NIT">Nit</label>
                                <input type="text" class="form-control input-register" id="NIT" placeholder="NIT">
                                <label class="text-input" for="Correo">Correo electrónico</label>
                                <input type="email" class="form-control input-register" id="Correo" placeholder="Correo electrónico">
                            </div>
                            <div style="margin-top: 10px ;" >
                                <button type="button" id="btnRegister" (click)="RegisterClient()" class="btn btn-primary" style="width:100%">Registrar</button>
                            </div>
                            <div style="margin-top: 10px ;" >
                                <button type="button" id="btnCloseModal" class="btn btn-danger" style="width:100%">Cancelar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            
            
        
			
            <br>
            <div>
                <div id="total-products">
                    <div id="total">
                        Total Productos
                        
                    </div>
                    <div id="number">
                        {{data.length}}
                    </div>
                </div>
                
                <button class="accordion">Ver mas detalle </button>
                
                <div class="panel" >
                    
                    <div >
                        <table id="table-detail">
                            <thead>
                                
                            </thead>
                            <tbody>
                                <tr >
                    
                                    <table style="background-color: rgb(207,229,237);"  id="table-detail" >
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Precio</th>
                                                <th>Cant.</th>
                                                <th>Subt.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of data">
                                                <td>
                                                    <div>
                                                        <h4> {{item.producto}}</h4>
                                                    </div>
                                                    
                                                </td>
                                                <td>
                                                    {{item.precio}}
                                                </td>
                                                <td>{{item.cantidad}}</td>
                                                <td>{{item.cantidad * item.precio}}</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </tr>     
                            </tbody>
                            <tfoot style="margin: 50px;" >
                                <tr>
                                    <p><b>Total :</b> <strong> {{totalVenta}}</strong></p>
                                </tr>
                            </tfoot>
                            
                        </table>
                    </div>
                </div>
            </div>
            <div style="padding: 10px" >
                <button type="button" id="btn-sale" style="width:100%">Vender</button>
            </div>
            
        </div>
</div>
