<div class="btn-volver">
    <button mat-raised-button color="primary" (click)="Volver()" class="btn" >Volver</button>
</div>
<div class="container"> 
    <mat-grid-list cols="2" rowHeight="70px" >
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-label style="width: 20%;" class="lbl-space font-weight">Fecha Inicio:</mat-label>
          <input type="date" class="form-control form-size form-width" id="fechaInicio" style="width: 80%;" name="date" placeholder="fecha"> 
      </mat-grid-tile> 
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-label style="width: 20%;" class="lbl-space font-weight">Fecha Final:</mat-label>
          <input type="date" class="form-control form-size form-width" id="fechaFin" style="width: 80%;" name="date" placeholder="fecha"> 
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="margin-top: 10px ;" >
            <button type="button" id="btnRegister" (click)="CargarReporte()" class="btn" style="width:100%">buscar</button>
        </div>
    </mat-grid-tile>                  
  </mat-grid-list>
    <div class="body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">    
            <!-- Producto Column -->
            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date}} </td>
            </ng-container>

            <!-- Total Column -->
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef>Total Bs.</th>
              <td mat-cell *matCellDef="let element"> {{element.total}} </td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>  
      </div>
</div>

