table {
    align-items: center;
    width: 100%;
}
th{
    width: 8%;
}
span{
    color: white;
}
.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;
}
.toolbar{
    margin-top: 2%;
    background-color: #68cae9;
    border-radius: 5PX;
}
.container{
    margin-top: 60px;
    width: 90%;
    height: auto;
    max-width: 100%;
    border-radius:20px;
}

.agregar{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn{
    background-color: #68cae9;
}
.pointer{
    cursor: pointer;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    align-items: center;
    width: 98%;
}

.pointer{
    cursor: pointer;
}
.mat-form-field {
    font-size: 20px;
    width: 100%;
}
p{
    font-size: 30px;
    color: #170F49;
    text-align: center;
}
.width{
    width: 70%;
    background-color: #00AEE1;
    color: white;
}
.widthC{
    width: 70%;
    background-color: #0A457F;
    color: white;
}
th,td{
    font-size: 12px;
}
.btn{
    background-color: #00AEE1;
}
.search{
    margin-left: 10px;
}

.pointer{
    cursor: pointer;
}

.mat-form-field {
    font-size: 20px;
    width: 100%;
}

p{
    font-size: 25px;
    color: #170F49;
    text-align: center;
}

th,td{
    font-size: 12px;
}
.btn{
    background-color: #00AEE1;
}
.search{
    margin-left: 10px;
}


.container-all{
    display: flex;
    margin-top: 40px;
}

.list{
    width: 100%;
    margin: 0px 20px 0px 20px;
    
}