<div class="container">
    <div class="cont-header">
        <h1 style="margin-left: 10px; margin-bottom: 10px;">Registro de producción de manufactura</h1>
        <div class="line"></div>
    </div>
    <div class="container ">
        <a class="link-list" [routerLink]="['/manufacturing']">VOLVER A LISTADO</a>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="text-input" for="Nombre">Ref. producción</label>
                        <div class="input-wrapper">
                            <input type="text" class="form-control input-register" id="Nombre" placeholder="Ref. Producción">
                            <svg class="svg-icon input-icon" viewBox="0 0 20 20">
                            <path fill="#A0A3BD" d="M10,10.9c2.373,0,4.303-1.932,4.303-4.306c0-2.372-1.93-4.302-4.303-4.302S5.696,4.223,5.696,6.594C5.696,8.969,7.627,10.9,10,10.9z M10,3.331c1.801,0,3.266,1.463,3.266,3.263c0,1.802-1.465,3.267-3.266,3.267c-1.8,0-3.265-1.465-3.265-3.267C6.735,4.794,8.2,3.331,10,3.331z"></path>
                            <path fill="#A0A3BD" d="M10,12.503c-4.418,0-7.878,2.058-7.878,4.685c0,0.288,0.231,0.52,0.52,0.52c0.287,0,0.519-0.231,0.519-0.52c0-1.976,3.132-3.646,6.84-3.646c3.707,0,6.838,1.671,6.838,3.646c0,0.288,0.234,0.52,0.521,0.52s0.52-0.231,0.52-0.52C17.879,14.561,14.418,12.503,10,12.503z"></path>
                        </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="text-input" for="direccion">Fecha de producción</label>
                        <div class="input-wrapper">
                            <input type="date" class="form-control input-register" id="direccion" placeholder="Dirección">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="cont">
                    <div class="text-inline border">
                        <p style="margin-left: 10px" class="tx">Añadir Producto</p>
                        <div  style="display: flex; " >
                            <p class="p-m">Iva</p>
                            <p class="p-m">Cantidad</p>
                            <p class="p-m">Descuento</p>
                            <p class="p-m">Base Imponible</p>   
                        </div>
                    </div>                    
                </div>
            </div>

            <div>
                <div class="cont">
                    <div class="text-inline border">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-align: left ;background-color: #fff; font-size: small;">
                              Seleccionar un producto
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                            </ul>
                        </div>
                        <div style="display: flex;" >
                            <input type="text" class="form-control" id="iva" placeholder="Iva">
                            <input type="text" class="form-control" id="cantidad" placeholder="Cantidad">
                            <input type="text" class="form-control" id="descuento" placeholder="Descuento">
                            <input type="text" class="form-control" id="baseImponible" placeholder="Base">
                            <button mat-raised-button style="background-color: #4c8eb7; margin-left: 5px;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <line x1="12" y1="5" x2="12" y2="19" />
                                    <line x1="5" y1="12" x2="19" y2="12" />
                                </svg>
                            </button>                                
                        </div>                      
                    </div>                    
                </div>
            </div>
            

            <div class="row">
                <button type="button" class="btn btn-add">Registrar</button>
            </div>
        </form>
    </div>
</div>