<br/>
<br/>
<br/>
<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="cart-table" style="margin-top: 80px">
            <div class="cart-product">
                <table class="table align-middle bg-white table-hover">
                    <thead class="bg-light table-light">
                        <tr class="text-th">
                            <th class="td-tx">Sr.No</th>
                            <th class="td-tx">Nombre Producto</th>
                            <th class="td-tx">Imagen Producto</th>
                            <th class="td-tx" style="text-align: center;">Precio</th>
                            <th class="td-tx" style="text-align: center;">Cantidad</th>
                            <th class="td-tx" style="text-align: center;">Sub Total</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td><img style="width: 100px;" src="{{item.image}}" alt=""></td>
                            <th style="width: 150px; text-align: center;">{{item.price}}Bs.</th>
                            <td style="width: 150px; text-align: center;">x{{item.quantitycart}}</td>
                            <td style="width: 150px; text-align: center;">{{item.total}}Bs.</td>
                            <td class="td-delete">
                                <button (click)="removeItem(item)" class="btn btn-delete"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="4" y1="7" x2="20" y2="7"></line>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                 </svg></button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <div class="cont-total">
                <p style="font-size: 18px; font-weight: bold; padding: 10px;">Total: </p>
                <p style="margin-left: 15px; padding: 10px; background-color: #b4daff;"> ${{grandTotal}}</p>
            </div>

            <div class="cont-btn">
                <button (click)="emptycart()" class="btn btn-b btn-danger">Cartera Vacía</button>
                <button routerLink="/products" class="btn btn-shop btn-b">Comprar Más</button>
                <button class="btn btn-b btn-success" (click)="goCheckout()">Finalizar Compra</button>
            </div>

            
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0" style="margin-top: 80px">
    <div class="container" >
        <div class="card">
            <h5 class="card-title">Mi Cartera</h5>
        </div>
        <div class="center">
            <img src="https://cdn-icons-png.flaticon.com/512/7714/7714517.png">
            <h4>Tu cartera está vacía</h4>
            <h6>Añadir elemento ahora</h6>
            <button routerLink="/products" class="btn btn-dark">Comprar Ahora</button>
        </div>
    </div>
</ng-container>