table {
    align-items: center;
    width: 100%;
}
th{
    width: 20%;
}
span{
    color: #170F49;
}
.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;
}
.toolbar{
    margin-top: 10%;
}
.container{
    width: 50%;
    max-width: 300;
    text-align: center;
    border-radius:20px;
}

.agregar{
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pointer{
    cursor: pointer;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}