<div class="container cont-all">
    <div class="cont-header">
        <p class="header-1">FICHA DE PRESUPUESTO</p>
    </div>
    <div class="content">
        <a class="link-list" [routerLink]="['/budgets/']">VOLVER A LISTADO</a>
        <div class="text-inline" style="margin-top: 10px">
            <p style="margin-right: 10px" class="text-c">PROVEEDOR:</p>
            <p>{{ model.proveedor.nombre }}</p>
        </div>
        <div class="line"></div>
        <div class="row">
            <div class="col-md-6 cont-b">
                <div class="cont">
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx" for="refPresupuesto">REF. PRESUPUESTO</p>
                        <div class="input-wrapper">
                            <input type="text" class="form-control input-register"  id="refPresupuesto" [(ngModel)]="model.refPresupuesto" [ngModelOptions]="{standalone: true}"
                                placeholder="Ref. Presupuesto" />
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon input-icon icon-tabler icon-tabler-discount" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColork" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="9" y1="15" x2="15" y2="9"></line>
                                <circle cx="9.5" cy="9.5" r=".5" fill="currentColor"></circle>
                                <circle cx="14.5" cy="14.5" r=".5" fill="currentColor"></circle>
                                <circle cx="12" cy="12" r="9"></circle>
                            </svg>
                        </div>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">DESCUENTOS:</p>
                        <div class="input-wrapper">
                            <input type="number" class="form-control input-register"  id="descuentos" [(ngModel)]="model.descuentos" [ngModelOptions]="{standalone: true}"
                                placeholder="Descuento" />
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon input-icon icon-tabler icon-tabler-discount" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="9" y1="15" x2="15" y2="9"></line>
                                <circle cx="9.5" cy="9.5" r=".5" fill="currentColor"></circle>
                                <circle cx="14.5" cy="14.5" r=".5" fill="currentColor"></circle>
                                <circle cx="12" cy="12" r="9"></circle>
                            </svg>
                        </div>
                    </div>
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">FECHA DE INICIO:</p>
                        <div class="input-wrapper">
                            <input type="date" class="form-control input-register" id="fechaInicio" [(ngModel)]="model.fechaInicio" [ngModelOptions]="{standalone: true}"/>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 cont-b">
                <div class="cont">
                    <div class="text-inline">
                        <p style="margin-right: 10px" class="tx">BASE IMPONIBLE:</p>
                        <div class="input-wrapper">
                            <input type="text" class="form-control input-register" id="baseImpinible"
                                placeholder="Base imponible" [(ngModel)]="model.baseImponible" [ngModelOptions]="{standalone: true}"/>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon input-icon icon-tabler icon-tabler-moneybag" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                    d="M9.5 3h5a1.5 1.5 0 0 1 1.5 1.5a3.5 3.5 0 0 1 -3.5 3.5h-1a3.5 3.5 0 0 1 -3.5 -3.5a1.5 1.5 0 0 1 1.5 -1.5z">
                                </path>
                                <path d="M4 17v-1a8 8 0 1 1 16 0v1a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table align-middle mb-0 bg-white table-hover">
                <thead class="bg-light table-light">
                    <tr class="text-th">
                        <th>Descripción</th>
                        <th class="td-tx">Precio Unitario</th>
                        <th class="td-tx">Cantidad</th>
                        <th class="td-tx">Descuento</th>
                        <th class="td-tx">Base Imponible</th>
                    </tr>
                </thead>
                <tbody *ngFor="let card of products">
                    <tr>
                        <td>
                            <p class="fw-normal mb-1">{{ card.description }}</p>
                        </td>
                        <td class="td-tx">
                            <p>{{ card.unit_price }}</p>
                        </td>
                        <td class="td-tx">
                            <p>{{ card.unit_price }}</p>
                        </td>
                        <td class="td-tx">
                            <p>{{ card.quantity }}</p>
                        </td>
                        <td class="td-tx">
                            <p>{{ card.taxable_income }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="content-btn">
                <button class="btn">Eliminar</button>
                <button class="btn">Cerrar</button>
                <button class="btn" (click)="crear()">Crear Pesupuesto</button>
                <button class="btn" >Anadir Pesupuesto</button>
                <button class="btn">Reabrir</button>
            </div>
        </div>
    </div>
</div>