table {
    width: 100%;
}
th{
    width: 20%;
}

.agregar{
    text-align: left;
    margin-top: 5px;
}
span{
    color: white;
    margin-left: 0%;

}
.pointer{
    cursor: pointer;
}
.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: rigth;
    background-color: #f5f5f5;
}
.container{
    margin-top: 8%;
    width: 90%;
    height: auto;
    max-width: 100%;
    border-radius:20px;
}
.toolbar{
    margin-top: 5%;
    background-color: #68cae9;
    border-radius: 5PX;
}

  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.btn{
    text-align: left;
    background-color: #00AEE1;
}
