@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    padding: 0 !important;
    box-sizing: border-box;
    list-style: none;
	outline: none;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none !important;
}

li {
    list-style: none;
}
body{
    background-color: #f0f0f0;
    position: relative;
}

